<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ndduc.project.musicplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <service android:enabled="true" android:name=".activity_background" />
        <activity android:name=".activity_Audio"></activity>
        <activity android:name=".activity_Convert"></activity>
        <activity android:name=".activity_Check"></activity>
        <activity android:name=".activity_Populate"></activity>
        <activity android:name=".activity_Audio_Adv"></activity>

    </application>
</manifest>
